<mat-sidenav-container>

  <mat-sidenav #sidenav mode="side" opened>

    <mat-nav-list>
      <div class="menuButtons">
        <a mat-list-item routerLink="/register">
          <mat-icon>person_add</mat-icon> Registro de sesión
        </a>
      </div>
      <div class="menuButtons">
        <a mat-list-item routerLink="/login">
          <mat-icon>login</mat-icon> Inicio de sesión
        </a>
      </div>
      <div class="menuButtons">
        <a mat-list-item routerLink="/home">
          <mat-icon>home</mat-icon> Home
        </a>
      </div>
      <div class="menuButtons">
        <a mat-list-item routerLink="/homework">
          <mat-icon>book</mat-icon> Materia
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div><router-outlet></router-outlet></div>
  </mat-sidenav-content>
</mat-sidenav-container>
