<mat-sidenav-container>
  <!-- Menú lateral -->
  <mat-sidenav #sidenav mode="side" opened>

    <mat-nav-list>
      <a id="logoPolymer"mat-list-item href="#">
        <img  src="https://img.icons8.com/?size=100&id=36625&format=png&color=000000" alt="Polymer Icon" class="icon" />
      </a>
      <div class="menuButtons"><a mat-list-item href="#">Calendario 📆</a></div>
      <div class="menuButtons"><a mat-list-item href="#">Materias 📚 </a></div>
      <div class="menuButtons"><a mat-list-item href="#">Cerrar sesión ➡️</a></div>

    </mat-nav-list>
  </mat-sidenav>

  <!-- Contenido principal -->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <!-- <button mat-icon-button (click)="sidenav.toggle()" aria-label="Abrir menú">
        <mat-icon>menu</mat-icon>
      </button> -->
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
