mat-sidenav{
  background-color: rgb(127, 127, 230);
  box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.3);

}
mat-sidenav-content{
  background-color: rgb(253, 253, 253);
}
.menuButtons{
  text-align: center;
  border-radius: 0.5rem;
  background-color: rgb(249, 249, 249);
  margin: 1rem;
  box-shadow: 4px 3px 6px rgba(0, 0, 0, 0.3);
}
