<div class="calendar">
  <div class="calendar-header">
    <button class="nav-button" (click)="previousMonth()">&#60;</button>
    <h2>{{ getMonthName() }}</h2>
    <button class="nav-button" (click)="nextMonth()">&#62;</button>
  </div>

  <div class="calendar-body">
    <div *ngFor="let day of days" class="calendar-day">
      <span class="day-number">{{ day }}</span>
        
        
        <div *ngFor="let task of getTasksForDay(day)" class="task-info">
          <span>{{ task.subject }} 
            <span class="task-counter">{{ getTasksForDay(day).length }}</span>
          </span>
        </div>

      </div>
    </div>
</div>
