<div class="register-container">
    <div class="user-icon-container">
      <mat-icon class="user-icon">account_circle</mat-icon>
    </div>

    <mat-form-field appearance="fill" class="input-field">
      <mat-label>Usuario</mat-label>
      <input matInput placeholder="Ingresa tu usuario" />
      <mat-icon matPrefix>person</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="fill" class="input-field">
      <mat-label>Correo</mat-label>
      <input matInput placeholder="Ingresa tu correo" />
      <mat-icon matPrefix>mail</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="fill" class="input-field">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" placeholder="Ingresa tu contraseña" />
      <mat-icon matPrefix>lock</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="fill" class="input-field">
      <mat-label>Confirmar Contraseña</mat-label>
      <input matInput type="password" placeholder="Confirma tu contraseña" />
      <mat-icon matPrefix>lock</mat-icon>
    </mat-form-field>

    <div class="remember-container">
      <mat-checkbox>Recuérdame</mat-checkbox>
    </div>

    <button mat-raised-button color="primary" class="register-btn">Registrarse</button>
</div>
